<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >

<mapper namespace="com.jyusun.origin.base.db.BaseRepoMapper">

    <!-- 通用映射关系 仅ID -->
    <resultMap id="ResultIdMap" type="com.jyusun.origin.base.db.data.BaseObject">
        <id column="sid" property="sid" javaType="long" jdbcType="BIGINT"/>
        <result column="create_time" property="createTime" javaType="java.time.LocalDateTime" jdbcType="TIMESTAMP"/>
        <result column="updated_time" property="updateTime" javaType="java.time.LocalDateTime" jdbcType="TIMESTAMP"/>
    </resultMap>

    <!-- 通用映射关系 BaseData-->
    <resultMap id="ResultDataMap" type="com.jyusun.origin.base.db.data.BaseData" extends="ResultIdMap">
        <result column="remarks" property="remarks" javaType="java.lang.String" jdbcType="VARCHAR"/>
        <result column="creator" property="creator" javaType="java.lang.Long" jdbcType="BIGINT"/>
        <result column="update_man" property="updateMan" javaType="java.lang.Long" jdbcType="BIGINT"/>
        <result column="deleted" property="deleted" javaType="java.lang.Boolean" jdbcType="TINYINT"/>
        <result column="revision" property="revision" javaType="java.lang.Boolean" jdbcType="INTEGER"/>
    </resultMap>

    <!-- 通用映射关系 BaseTenant-->
    <resultMap id="ResultTenantMap" type="com.jyusun.origin.base.db.data.BaseTenant" extends="ResultDataMap">
        <result column="tenant_id" property="tenantId" javaType="java.lang.String" jdbcType="VARCHAR"/>
    </resultMap>

    <!-- 数据库通用列-->
    <sql id="BaseIdList">
        sid,
        create_time,
        updated_time,
    </sql>

    <!-- 数据库通用列-->
    <sql id="BaseColumnList">
        sid,
        remarks,
        creator,
        create_time,
        update_man,
        updated_time,
        deleted,
        revision
    </sql>

    <!-- 数据库通用列-->
    <sql id="BaseTenantList">

        tenant_id,
        sid,
        remarks,
        creator,
        create_time,
        update_man,
        updated_time,
        deleted,
        revision
    </sql>

    <!-- mysql分页通用结尾 -->
    <sql id="pageEnd">
        limit #{pageQuery.offsetPara,jdbcType=INTEGER} , #{pageQuery.limitPara,jdbcType=INTEGER}
    </sql>
    <!-- Like left -->
    <sql id="like_left">
        concat
        ('%',
    </sql>
    <!-- Like right -->
    <sql id="like_right">
        ,'%')
    </sql>

    <sql id="increment_sql">
        select LAST_INSERT_ID() as value
    </sql>
</mapper>